{% extends "base.html" %}

{% block content %}
{% spaceless %}
    <div class="posts-list">
        <div class="headline-post">
            <h1 class="title">{{headline.title}}</h1>
            <p class="meta">Posted by {{headline.author.username}} on {{headline.created_at|date:'D, M jS Y \a\t h:i A'}}</p>
            <p class="snippet">{{headline.text|slice:":500"}}</p>
        </div>
        <div class="remaining-posts">
            {% if remaining|length > 0 %}
                <ul>
                    {% for meta in remaining %}
                        <li>
                            <h2>{{meta.title}}</h2>
                            <p>By {{meta.author_username}} on {{meta.created_at|date:'m/d/Y'}}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endblock %}
